.trends-for-you{
    border-radius: 15px;
    background-color: #f5f8fa;
    margin-left: 20px;
}
.trends-for-you_block{
    border-bottom: 1px solid #e6ecf0;
    padding: 10px 15px;
}
.trends-for-you_heading{
    font-size: 19px;
    font-weight: bold;
    color: #14171a;
}
.trends-for-you_meta-info{
    font-size: 13px;
    font-weight: 300;
    color: #657786;

}
.trends-for-you_trend-name{
    font-size: 15px;
    font-weight: bold;
    color: #14171a;
    margin-bottom: 5px;
    margin-top: 2px;

}